.title{
    margin: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 250px;
    bottom: 480px;
}
.description{
    margin: 0;
    position: absolute;
    top: 147px;
    left: 120px;
    right: 832px;
    bottom: 35px;
    background-color: #0000005c;
    border-radius: 18px;
    overflow: auto;
    color: white;
}
.platforms{
    margin: 0;
    position: absolute;
    bottom: 35px;
    left: 589px;
    right: 113px;
    top: 477px;
    background-color: #0000005c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    color: white;
}
.points{
    margin: 0;
    position: absolute;
    bottom: 390px;
    right: 0px;
    left: 1253px;
    top: 105px;
}
.image{
    margin: 0;
    position: absolute;
    right: 108px;
    left: 584px;
    top: 147px;
    bottom: 147px;
}
.delete{
    position: absolute;
    right: 205px;
    top: 38px;
}